# OS
.DS_Store

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.cache/
pip-log.txt
.coverage
.coverage.*
htmlcov/
.pyre/
.pytype/
.python-version

# Virtualenv
.venv/
venv/
env/

# Django
db.sqlite3
*.log
local_settings.py

# Static/Media (hasil collectstatic & upload lokal)
staticfiles/
static/
media/

# Builds
build/
dist/
*.bak
*.swp
*.tmp
